(5.)  User will input (3ages).Find the oldest one.

In [5]:
age1 = int(input("Input first age "))
age2 = int(input("Input second age "))
age3 = int(input("Input third age "))

agemax=max(age1,age3,age2)
print('The oldest age',agemax)

Input first age 13
Input second age 12
Input third age 14
The oldest age 14

(6.) Write a program that will convert celsius value to fahrenheit.

In [7]:
c = float(input("Enter temp "))
f = c*(9/5) + 32
print(f)

Enter temp 31
87.80000000000001

(7.) User will input (2numbers).Write a program to swap the numbers

In [9]:
num1 = int(input("Input first num "))
num2 = int(input("Input second num "))
swapper = num1
num1 = num2
num2 = swapper
print("value of num1: ", num1)
print("value of num2: ", num2)

Input first num 11
Input second num 22
value of num1:  22
value of num2:  11